@model SalonAndSpaReservation.Domain.Entities.Material

@{
    ViewBag.Title = "ViewMaterial";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>ViewMaterial</h2>

<p>Service Name: @Model.Name</p>
